body {background-color:#EBE9EA;}
div #titolo h1 {font-family:"Sans", Arial ; color:red ; text-align: center; }

div #pagina{width:1342px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 25px;
		margin-bottom: 25px;
		
		}

div #titolo { background-color: #F3F9F9;
		position: relative;
		margin:0px;
		padding-top:1px;
		padding-right:1px;
		padding-left:1px;
		padding-bottom:1px;
		border-top:1px;
		border-right:1px;
		border-left:1px;
		border-bottom:1px%;
		height: 75px;
		width:1342px;
		border-bottom:solid;
		border-width:1px;
		} 

div #dati {	background-color: #F2E7AE;
		position: relative;
		margin-left:0px;
		margin-right: 0px;
		padding-top:1px;
		padding-right:1px;
		padding-left:1px;
		padding-bottom:1px;
		border-right:1px;
		border-left:1px;
		border-bottom:1px;
		width:1342px; 
		min-height:407px;
	
		
		}

div #dati h2 {font-family:"Sans", Arial ; color:#306693; text-align: center;}
div #dati p {font-family: "Sans", Arial; color:#306693; text-align: center; font-size: 13px;}
div #content a {text-decoration: none;}

div #dati {font-family:"Sans", Arial ; color:#306693;}
div #dati form {float: right; width: 60%; }


div #footer {	background-color: #E6FAF8;
		position:relative;
		/*margin-top:413px;*/
		padding-top:1px;
		padding-right:1px;
		padding-left:1px;
		padding-bottom:1px;
		border-top:1px;
		border-right:1px;
		border-left:1px;
		border-bottom:1px;
		
		height:86px;
		width:1342px;
		border-top: solid;
		border-width:1px;
		}

#footer p {text-align: center;
		font-size: 12px;}
